@for $i from 0 through 10 {
	.margin-#{$i}x {
    	margin: $i * 5px !important;
  	}
	.margin-top-#{$i}x {
    	margin-top: $i * 5px !important;
  	}
	.margin-bottom-#{$i}x {
    	margin-bottom: $i * 5px !important;
  	}
	.margin-left-#{$i}x {
    	margin-left: $i * 5px !important;
  	}
	.margin-right-#{$i}x {
    	margin-right: $i * 5px !important;
  	}
    .margin-vert-#{$i}x {
        margin-right: $i * 5px !important;
        margin-left: $i * 5px !important;
    }
    .margin-horiz-#{$i}x {
        margin-top: $i * 5px !important;
        margin-bottom: $i * 5px !important;
    }

	.padding-#{$i}x {
    	padding: $i * 5px !important;
  	}
	.padding-top-#{$i}x {
    	padding-top: $i * 5px !important;
  	}
	.padding-bottom-#{$i}x {
    	padding-bottom: $i * 5px !important;
  	}
	.padding-left-#{$i}x {
    	padding-left: $i * 5px !important;
  	}
	.padding-right-#{$i}x {
    	padding-right: $i * 5px !important;
  	}
    .padding-vert-#{$i}x {
        margin-right: $i * 5px !important;
        margin-left: $i * 5px !important;
    }
    .padding-horiz-#{$i}x {
        margin-top: $i * 5px !important;
        margin-bottom: $i * 5px !important;
    }
}

@for $i from 0 through 40 {
    .fs#{$i} {
        font-size: 0px + $i !important
    }
}

@for $i from 1 through 10 {
    .width-#{$i}x {
        width: $i * 10% !important
    }
}

.error {
    color: #a94442;
}

.mt50 {
    margin-top: 50px !important;
}

.p50{
    padding: 50px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.pointer-event-none {
  pointer-events: none !important;
}

.bold {
  font-weight: bold !important;
}

.text-align-center {
    text-align: center !important;
}

.display-block {
  display: block !important;
}

.display-inline {
  display: inline-block !important;
}

.width-auto {
  width: auto !important;
}

.position-absolute {
  position: absolute !important;
}

.list-style-type-none {
  list-style-type: none;
}

.clear {
    clear: both;
}